<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,42},{21,18}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{41,18}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{59,18}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{79,18}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{99,18}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dian_playback.png</string>
            <key>size</key>
            <string>{121,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe2c602394c8b5ecbafe2a1ac82eef4:1/1$</string>
            <key>textureFileName</key>
            <string>dian_playback.png</string>
        </dict>
    </dict>
</plist>
